    * {
         box-sizing: border-box;
      }
      body {
          font-family: 'Playfair Display', serif;
          margin: 0;
      }
      
    /*--------------------------------------*/


      /*container-fluid*/
      .article {
          border: 1px solid;
          color: white;
         background-color: #295377;
      }

    .col1 {
       padding: 10px 10px;  
      
   	   }
       
     .col1 h3 {
        color: #EFD74B;
        text-align: center;
        border-bottom: 1px solid black;
     }
     
     .col1 a {
        color: white;
     }
       
   .col2 {
        border: 1px solid black;
        background-color: #190A4E;
   		padding: 0px 0px;  
      
   	   }
   img {     
      width: 100%;
      height:300px;
     
    }

    
    .content {
        padding: 10px 10px; 
    }
    

    table {        
      border-collapse: collapse;
      width: 100%;
    }
    
   caption {
       color: #EFD74B;
       font-size: 20px;
    } 
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #070513;
    }
    tr:nth-child(odd) {
      background-color: #372339;
    }
    
    
     
